@using OnlineLibrary.Web.Models
@model RoleViewModel
@{ ViewBag.Title = "Roles"; }

<p></p>
<div class="panel panel-info">
    <div class="panel-heading">Roles</div>

    <table class="table table-striped">
        <tr><th>Name</th><th>Users</th><th></th></tr>
        @if (!Model.Roles.Any())
        {
            <tr><td colspan="4" class="text-center">No Roles</td></tr>
        }
        else {
            int i = 0;
            foreach (var role in Model.Roles)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <p>
                            @Model.UserNames[i]
                            @{
                                i++;
                            }
                        </p>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = role.Id }, new { @class = "btn btn-primary btn-xs" })
                    </td>
                </tr>
             }
         }
    </table>
</div>