.btn {
    background-color: #2dafce;
    border-color: #2794ae;
}

.btn:hover, .btn:active {
    border-color: #2dafce;
}

.btn-primary {
    background-color: #2dafce !important;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #2fa2bf !important;
}


.btn-default {
    color: #fff;
    background-color: #2dafce !important;
}

.btn-default:hover, .btn-default:active {
    color: #fff;
    background-color: #2fa2bf !important;
}

.btn-danger {
    background-color: #ff5050;
}

.btn-danger:hover {
    background-color: #ff6666;
}

.btn-danger:active {
    background-color: #ff6666;
}

.btn-danger:active:focus {
    background-color: #ff6666;
}

.navbar-default {
  background-color: #2dafce;
  border-color: #2794ae;
}
.navbar-default .navbar-brand {
  color: #fdfdfd;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #d9dadb;
}
.navbar-default .navbar-text {
  color: #fdfdfd;
}
.navbar-default .navbar-nav > li > a {
  color: #fdfdfd;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fdfdfd;
  background-color: #2fa2bf;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #2dafce;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fdfdfd;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #d9dadb;
  background-color: #2794ae;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #2794ae;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #d9dadb;
  background-color: #2794ae;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d9dadb;
  background-color: #2794ae;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #d9dadb;
  background-color: #2794ae;
}
.navbar-default .navbar-toggle {
  border-color: #2794ae;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2794ae;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fdfdfd;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fdfdfd;
}
.navbar-default .navbar-link {
  color: #fdfdfd;
}
.navbar-default .navbar-link:hover {
  color: #d9dadb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fdfdfd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d9dadb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d9dadb;
    background-color: #2794ae;
  }
}