.navbar-default {
  background-color: #2dceab;
  border-color: #2ebb9d;
}
.navbar-default .navbar-brand {
  color: #fdfdfd;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f9fd03;
}
.navbar-default .navbar-text {
  color: #fdfdfd;
}
.navbar-default .navbar-nav > li > a {
  color: #fdfdfd;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f9fd03;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #2dceab;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fdfdfd;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #f9fd03;
  background-color: #2ebb9d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #2ebb9d;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #f9fd03;
  background-color: #2ebb9d;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f9fd03;
  background-color: #2ebb9d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f9fd03;
  background-color: #2ebb9d;
}
.navbar-default .navbar-toggle {
  border-color: #2ebb9d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2ebb9d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fdfdfd;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fdfdfd;
}
.navbar-default .navbar-link {
  color: #fdfdfd;
}
.navbar-default .navbar-link:hover {
  color: #f9fd03;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fdfdfd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f9fd03;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f9fd03;
    background-color: #2ebb9d;
  }
}