.list-group label.active { color: #fff; background-color: #2dafce; }
.list-group label.active:hover { color: #fff; background-color: #2dafce; }

#newCategoryNameGroup, #newSubcategoryGroup { margin-bottom: 10px; }
#subcategoriesList { display: inline-block; }

.input-group { display: block; }

/**/
.control-buttons { margin-left: 15px; }
.control-buttons button { font-size: 9px; }

span.edit-category-controls, span.edit-subcategory-controls { display: none; }