.hidden {
    visibility : hidden;
}

#tdRemoveAuthorButton {
    vertical-align: middle;
    text-align: center;
}

#bookAuthors .book-author { margin-bottom: 10px; }

.ui-datepicker {
    background: #ffffff;
    border: 1px solid #cccccc;
}

label.inputFileButton input[type="file"] {
    position: fixed;
    top: -1000px;
}

.inputFileButton span {
    font-weight: normal;
}