@{
    ViewBag.Title = "User loans manage ";
}

<h2>@ViewBag.Title</h2><br/>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#pending" aria-controls="home" role="tab" data-toggle="tab">Pending</a></li>
        <li role="presentation"><a href="#approved" aria-controls="profile" role="tab" data-toggle="tab">Approved</a></li>
        <li role="presentation"><a href="#inProgress" aria-controls="messages" role="tab" data-toggle="tab">Loaned Books</a></li>
        <li role="presentation"><a href="#history" aria-controls="settings" role="tab" data-toggle="tab">History</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="pending">

        </div>
        <div role="tabpanel" class="tab-pane" id="approved">...</div>
        <div role="tabpanel" class="tab-pane" id="inProgress">...</div>
        <div role="tabpanel" class="tab-pane" id="history">...</div>
    </div>

</div>

<!-- Approve Modal  -->
<div class="modal fade" id="approveModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="approveModalLabel">Approve the current loan request</h4>
            </div>
            <div class="modal-body">
                <form id="approveForm">
                    <div class="form-group">
                        <label>Book Copy ID</label>
                        <input id="bookCopyId" name="bookCopyId" type="text" class="form-control" />
                    </div>

                    <input id="loanId" name="loanId" hidden="hidden" />
                    <input id="approveUrl" hidden="hidden" value="@Url.Action("ApproveLoanRequest", "Librarian")" />
                    <input id="redirectUrl" hidden="hidden" value="@Url.Action("Index", "Librarian")" />

                    <button id="approveLoanButton" type="submit" class="btn btn-default">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </form>
                <div id="approveLoanErrorAlert" class="alert alert-danger hidden fade in" style="margin-top: 5px;" role="alert">
                    <strong>Oh snap!</strong> <span id="approveLoanError"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Reject Modal  -->
<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="approveModalLabel">Reject the current loan request</h4>
            </div>

            <div class="modal-body">
                <label>Are you sure you want to reject this loan request ?</label>
            </div>
            <div class="modal-footer">
                <form id="reject" action="@Url.Action("RejectLoanRequest", "Librarian")" method="post">
                    <input id="loanId" name="loanId" hidden="hidden" />
                    <button type="submit" class="btn btn-default">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/View Scripts/Librarian/index.js"></script>
}
