@model IEnumerable<OnlineLibrary.Web.Models.CategoriesManagement.CategoryViewModel>

@{
    ViewBag.Title = "Index";
}

@section CSS {
    <style>
        .list-group label.active {
            color: #fff;
            background-color: #2dafce;
        }

        .list-group label.active:hover {
            color: #fff;
            background-color: #2dafce;
        }

        #newCategoryNameGroup { margin-bottom: 10px; }
    </style>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/View Scripts/CategoriesManagement/index.js"></script>
}

<div class="row">
    <div class="col-md-4">
        <h2>Categories</h2>

        <div class="text-center">
            <div id="newCategoryNameGroup" class="input-group">
                <span class="input-group-btn">
                    <button id="addCategory" class="btn btn-success" type="button" data-add-category-url="@Url.Action("CreateCategory", "CategoriesManagement")">Add</button>
                </span>
                <input id="newCategoryName" class="form-control" type="text" name="newCategory" placeholder="New name..." />
            </div>
            <div id="categoriesList" class="list-group btn-group-vertical" data-toggle="buttons" data-subcategory-url="@Url.Action("GetSubCategories", "CategoriesManagement")">
                @foreach (var category in Model)
                {
                    <label class="btn btn-default">
                        <input type="radio" name="categories" value="@category.Id" autocomplete="off"> @category.Name
                    </label>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Subcategories</h2>

        <p data-bind="visible: subCategories().length == 0">No records...</p>
        <div id="subcategoriesList" class="list-group" data-bind="foreach: subCategories">
            <button type="button" class="list-group-item" data-bind="text: Name, attr: { 'data-id': Id }"></button>
        </div>
    </div>
</div>