@{
    ViewBag.Title = "Super Administrator";
}

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <p>
        @Html.Label("Enter the password: ")
        @Html.Password("superAdminPassword")
        <input type="submit" value="OK" class="btn btn-primary btn-sm" />
    </p>
}


